{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>A portfolio investment is ownership of a stock, bond, or other financial asset with the expectation that it will earn a return or grow in value over time, or both. It entails passive or hands-off ownership of assets as opposed to direct investment, which would involve an active management role.
            
	</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>
                A portfolio is a collection of financial investments like stocks, bonds, commodities, cash, and cash equivalents, including closed-end funds and exchange traded funds (ETFs). People generally believe that stocks, bonds, and cash comprise the core of a portfolio. Though this is often the case, it does not need to be the rule. A portfolio may contain a wide range of assets including real estate, art, and private investments.

You may choose to hold and manage your portfolio yourself, or you may allow a money manager, financial advisor, or another finance professional to manage your portfolio.		</p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}